.container__ToDoTickets {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 95%;
    height: 580px;
}

.ToDoTickets__Ticket {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Ticket {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #121ADA;
    border-radius: 20px;
}

.Ticket__importent {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #EEEEEE;
    border-radius: 20px;
}

.ToDoTickets__CheckPoint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 110px;
}

.CheckPoint__unimportent {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
}

.CheckPoint__importent {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #1226DA;
}

.elem {
    display: block;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

.elem__importent {
    display: block;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color:#000;
}

.defaultDate {
    margin-left: 20px;
    font-style: 'Roboto', sans-serif;
    font-size: 15px;
}

.Ticket__item-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Ticket__item-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Ticket__item-2-img {
    width: 30px;
    height: 30px;
}
.item-2 {
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    width: 40px;
    height: 40px;
}
.item-2::before, .item-2::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color:#000;
    /* transform: rotate(35deg); */
}

.item-2::before {
    transform: rotate(45deg);
}
.item-2::after {
    transform: rotate(-45deg);
}