.addPostTittle {
    width: 328px;
    height: 110px;
    background-color: #121ADA;
    border-radius: 20px;
}

.rightContainerBottom {
    width: 100%;
    display: flex;
    margin-top: 70px;
    margin-left: 220px;
}

.postText {
    margin-left: 30px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}