
.container__UserInfo {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.container__UserInfo-userPhoto > img {
    object-fit: contain;
    width: 100%;
    border-radius: 50%;
}

.container__UserInfo-userData > p {
    color: white;
    font-weight: 100;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 0.9rem;
    font-style: 'Roboto', sans-serif;
}

.container__UserInfo-userData > h2 {
    font-weight: 100;
    font-style: 'Roboto', sans-serif;
    color: white;
}