
.addDefaultDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currentDate {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.currentTime {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}