.container__InputMenu {
    width: 90%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addForm {
    display: block;
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #090909;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__InputMenu-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 100px;
    border-radius: 20px;
    background-color: #090909;
}

INPUT { 
    width: 80%;
    background-color: #090909;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    outline: none;
    border: none;
}