
.addFormMain {
    display: flex;
    justify-content: space-between;
}

.addPost {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 71px;
    margin: 0 0 40px 40px ;
    border-radius: 50%;
    background-color: #090909;
}

.addForm {
    width: 70%;
    margin-right: 200px;
    
}

.addFormText {
    width: 100%;
    background-color: #090909;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    height: 80px;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
    text-overflow: ellipsis;
    text-align: center;
}

:-ms-input-placeholder  {
    color: #FFFFFF;
    text-overflow: ellipsis;
    text-align: center;
}

:-moz-placeholder {
    color: #FFFFFF;
    text-overflow: ellipsis;
    text-align: center;
}

::-moz-placeholder {
    color: #FFFFFF;
    text-overflow: ellipsis;
    text-align: center;
}


.buttonImg {
    display: block;
    object-fit: contain;
    width: 27px;

}

