.container__ToDoTickets {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 95%;
    height: 580px;
}

.ToDoTickets__Ticket {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Ticket {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 110px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    background-color: #121ADA;
    border-radius: 1.25rem;
}

.Ticket__importent {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 110px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    background-color: #EEEEEE;
    border-radius: 1.25rem;
}

.ToDoTickets__CheckPoint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 110px;
}

.CheckPoint__unimportent {
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
}

.CheckPoint__importent {
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #1226DA;
}

.elem {
    display: block;
    font-size: 1.25rem;
    margin-left: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

.elem__importent {
    display: block;
    font-size: 1.25rem;
    margin-left: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color:#000;
}

.defaultDate {
    margin-left: 1.25rem;
    font-style: 'Roboto', sans-serif;
    font-size: 1rem;
}

.Ticket__item-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Ticket__item-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Ticket__item-2-img {
    width: 1.85rem;
    height: 1.85rem;
}

.item-2 {
    cursor: pointer;
    position: relative;
    margin-top: 2rem;
    width: 2.5rem;
    height: 2.5rem;
}

.item-2::before, .item-2::after {
    position: absolute;
    content: '';
    width: 1rem;
    height: 0.125rem;
    background-color:#000;
}

.item-2::before {
    transform: rotate(45deg);
}
.item-2::after {
    transform: rotate(-45deg);
}