
.main_container {
    margin: 0;
}

.left__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 693px; 
    height:  800px;
}