.userData__styleHeader {
    color: white;
    font-weight: 100;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.userData__style {
    color: white;
    font-weight: 100;
    font-size: 12px;
    font-style: 'Roboto', sans-serif;
}

.container__UserInfo {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.container__UserInfo-userPhoto {
    display: flex;
    align-items: center;
}